{
  "openapi": "3.0.3",
  "info": {
    "title": "AtlasFlux API",
    "description": "Unified AI model routing API with intelligent model selection, web search, reasoning, and prepaid MYR billing.",
    "version": "1.0.0",
    "contact": {
      "name": "Rainspeed Labs",
      "url": "https://atlasflux.my"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.atlasflux.my",
      "description": "Production"
    }
  ],
  "security": [
    { "apiKeyAuth": [] }
  ],
  "paths": {
    "/v1/responses": {
      "post": {
        "operationId": "createResponse",
        "summary": "Create a response",
        "description": "Send a prompt and receive a model response. Supports text generation, reasoning, web search, tool use, and streaming.",
        "tags": ["Responses"],
        "security": [{ "apiKeyAuth": [] }],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional idempotency key for non-streaming requests.",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ResponsesBody" },
              "example": {
                "model": "atlasflux/nenas-flash",
                "input": "Explain what an API is.",
                "reasoning": { "effort": "low" },
                "max_output_tokens": 1024
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response created successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponsesOutput" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/InsufficientBalance" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" },
          "503": { "$ref": "#/components/responses/ProviderUnavailable" }
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "operationId": "createChatCompletion",
        "summary": "Create a chat completion",
        "description": "OpenAI-compatible chat completions endpoint. Sends a list of messages and receives a model response.",
        "tags": ["Chat Completions"],
        "security": [{ "apiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ChatCompletionBody" },
              "example": {
                "model": "atlasflux/nenas-flash",
                "messages": [
                  { "role": "user", "content": "What is the capital of Malaysia?" }
                ],
                "temperature": 0.7,
                "max_tokens": 512
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat completion created successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ChatCompletionOutput" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/InsufficientBalance" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" },
          "503": { "$ref": "#/components/responses/ProviderUnavailable" }
        }
      }
    },
    "/v1/models": {
      "get": {
        "operationId": "listModels",
        "summary": "List available models",
        "description": "Returns the list of models available through the AtlasFlux API.",
        "tags": ["Models"],
        "security": [{ "apiKeyAuth": [] }],
        "responses": {
          "200": {
            "description": "List of models.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ModelList" }
              }
            }
          }
        }
      }
    },
    "/v1/models/{model}": {
      "get": {
        "operationId": "getModel",
        "summary": "Retrieve a model",
        "description": "Returns details about a specific model.",
        "tags": ["Models"],
        "security": [{ "apiKeyAuth": [] }],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The model identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "Model details.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ModelObject" }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/dashboard/api-keys": {
      "get": {
        "operationId": "listApiKeys",
        "summary": "List API keys",
        "description": "Returns all API keys for the authenticated developer account.",
        "tags": ["Dashboard — API Keys"],
        "security": [{ "clerkAuth": [] }],
        "responses": {
          "200": {
            "description": "List of API keys.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/ApiKeyObject" }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "operationId": "createApiKey",
        "summary": "Create an API key",
        "description": "Creates a new API key. The full key is only shown once at creation.",
        "tags": ["Dashboard — API Keys"],
        "security": [{ "clerkAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateApiKeyBody" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key created.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreateApiKeyResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/dashboard/api-keys/{id}": {
      "delete": {
        "operationId": "deleteApiKey",
        "summary": "Delete an API key",
        "description": "Permanently deletes an API key. This action cannot be undone.",
        "tags": ["Dashboard — API Keys"],
        "security": [{ "clerkAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "API key deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "ok": { "type": "boolean", "example": true } }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/dashboard/overview": {
      "get": {
        "operationId": "getOverview",
        "summary": "Get dashboard overview",
        "description": "Returns wallet balance, today's usage, 30-day totals, daily series, and API key counts.",
        "tags": ["Dashboard — Overview"],
        "security": [{ "clerkAuth": [] }],
        "responses": {
          "200": {
            "description": "Overview data.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OverviewResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/dashboard/usage": {
      "get": {
        "operationId": "getUsage",
        "summary": "Get usage data",
        "description": "Returns time series of usage metrics for a given date range and granularity.",
        "tags": ["Dashboard — Usage"],
        "security": [{ "clerkAuth": [] }],
        "parameters": [
          { "name": "from", "in": "query", "schema": { "type": "string", "format": "date-time" } },
          { "name": "to", "in": "query", "schema": { "type": "string", "format": "date-time" } },
          { "name": "api_key_id", "in": "query", "schema": { "type": "string" } },
          { "name": "granularity", "in": "query", "schema": { "type": "string", "enum": ["hour", "day"], "default": "day" } }
        ],
        "responses": {
          "200": {
            "description": "Usage series.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UsageResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/dashboard/billing/balance": {
      "get": {
        "operationId": "getBillingBalance",
        "summary": "Get billing balance",
        "description": "Returns wallet balance, reserved amount, lifetime totals, and top-up options.",
        "tags": ["Dashboard — Billing"],
        "security": [{ "clerkAuth": [] }],
        "responses": {
          "200": {
            "description": "Billing balance.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BalanceResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/dashboard/billing/transactions": {
      "get": {
        "operationId": "getTransactions",
        "summary": "Get transaction history",
        "description": "Returns paginated ledger entries and payment transactions.",
        "tags": ["Dashboard — Billing"],
        "security": [{ "clerkAuth": [] }],
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50, "maximum": 200 } }
        ],
        "responses": {
          "200": {
            "description": "Transaction list.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TransactionsResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/dashboard/billing/checkout": {
      "post": {
        "operationId": "createCheckout",
        "summary": "Create a Stripe checkout session",
        "description": "Creates a Stripe Checkout session for wallet top-up. Returns a URL to redirect the user.",
        "tags": ["Dashboard — Billing"],
        "security": [{ "clerkAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CheckoutBody" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout session created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": { "type": "string", "description": "Stripe Checkout URL." },
                    "session_id": { "type": "string" },
                    "transaction_id": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/dashboard/logs": {
      "get": {
        "operationId": "getLogs",
        "summary": "Get request logs",
        "description": "Returns paginated request logs with optional filters.",
        "tags": ["Dashboard — Logs"],
        "security": [{ "clerkAuth": [] }],
        "parameters": [
          { "name": "from", "in": "query", "schema": { "type": "string", "format": "date-time" } },
          { "name": "to", "in": "query", "schema": { "type": "string", "format": "date-time" } },
          { "name": "status", "in": "query", "schema": { "type": "string", "enum": ["pending", "succeeded", "failed", "billed"] } },
          { "name": "endpoint", "in": "query", "schema": { "type": "string" } },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50, "maximum": 200 } }
        ],
        "responses": {
          "200": {
            "description": "Request logs.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LogsResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/billing/stripe/webhook": {
      "post": {
        "operationId": "stripeWebhook",
        "summary": "Stripe webhook receiver",
        "description": "Receives Stripe webhook events for payment confirmation, refunds, and chargebacks.",
        "tags": ["Webhooks"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "type": "object", "description": "Stripe event payload." }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook processed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "received": { "type": "boolean" },
                    "processed": { "type": "boolean" }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "af_live_... or af_test_...",
        "description": "AtlasFlux API key. Get yours from the Developer Dashboard."
      },
      "clerkAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Clerk JWT",
        "description": "Clerk session token. Used by the Developer Dashboard."
      }
    },
    "schemas": {
      "ResponsesBody": {
        "type": "object",
        "required": ["input"],
        "properties": {
          "model": { "type": "string", "default": "atlasflux/nenas-flash" },
          "input": { "type": "string", "description": "The user prompt." },
          "reasoning": {
            "type": "object",
            "properties": {
              "effort": { "type": "string", "enum": ["low", "medium", "high"], "default": "medium" }
            }
          },
          "web_search": { "$ref": "#/components/schemas/WebSearchConfig" },
          "max_output_tokens": { "type": "integer", "minimum": 1, "maximum": 32000 },
          "max_total_cost_myr": { "type": "number", "description": "Maximum total cost in MYR." },
          "stream": { "type": "boolean", "default": false }
        }
      },
      "ChatCompletionBody": {
        "type": "object",
        "required": ["messages"],
        "properties": {
          "model": { "type": "string", "default": "atlasflux/nenas-flash" },
          "messages": {
            "type": "array",
            "minItems": 1,
            "items": { "$ref": "#/components/schemas/ChatMessage" }
          },
          "temperature": { "type": "number", "minimum": 0, "maximum": 2, "default": 1 },
          "max_tokens": { "type": "integer", "minimum": 1, "maximum": 32000 },
          "stream": { "type": "boolean", "default": false },
          "reasoning": { "$ref": "#/components/schemas/ReasoningConfig" },
          "web_search": { "$ref": "#/components/schemas/WebSearchConfig" }
        }
      },
      "ChatMessage": {
        "type": "object",
        "required": ["role", "content"],
        "properties": {
          "role": { "type": "string", "enum": ["system", "user", "assistant"] },
          "content": { "type": "string" }
        }
      },
      "WebSearchConfig": {
        "type": "object",
        "properties": {
          "mode": { "type": "string", "enum": ["off", "auto", "on"], "default": "off" },
          "search_depth": { "type": "string", "enum": ["instant", "fast", "balanced", "deep", "reasoning"], "default": "fast" },
          "max_results": { "type": "integer", "minimum": 1, "maximum": 25, "default": 5 },
          "max_searches": { "type": "integer", "minimum": 1, "maximum": 5, "default": 2 },
          "content": {
            "type": "object",
            "properties": {
              "enabled": { "type": "boolean", "default": false },
              "max_pages": { "type": "integer", "minimum": 1, "maximum": 10, "default": 3 }
            }
          }
        }
      },
      "ReasoningConfig": {
        "type": "object",
        "properties": {
          "effort": { "type": "string", "enum": ["low", "medium", "high"], "default": "medium" }
        }
      },
      "ResponsesOutput": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "object": { "type": "string", "example": "response" },
          "created_at": { "type": "integer" },
          "status": { "type": "string", "example": "completed" },
          "model": { "type": "string", "example": "atlasflux/nenas-flash" },
          "output_text": { "type": "string" },
          "usage": { "$ref": "#/components/schemas/UsageInfo" },
          "request_id": { "type": "string" },
          "routing": { "$ref": "#/components/schemas/RoutingInfo" },
          "citations": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Citation" }
          }
        }
      },
      "ChatCompletionOutput": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "object": { "type": "string", "example": "chat.completion" },
          "created": { "type": "integer" },
          "model": { "type": "string" },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": { "type": "integer" },
                "message": {
                  "type": "object",
                  "properties": {
                    "role": { "type": "string", "example": "assistant" },
                    "content": { "type": "string", "nullable": true }
                  }
                },
                "finish_reason": { "type": "string" }
              }
            }
          },
          "usage": { "$ref": "#/components/schemas/UsageInfo" }
        }
      },
      "UsageInfo": {
        "type": "object",
        "properties": {
          "input_tokens": { "type": "integer" },
          "output_tokens": { "type": "integer" },
          "reasoning_tokens": { "type": "integer" },
          "cached_tokens": { "type": "integer" },
          "total_tokens": { "type": "integer" },
          "cost_myr": { "type": "string", "description": "Total cost in MYR as a string." },
          "latency_ms": { "type": "integer" }
        }
      },
      "RoutingInfo": {
        "type": "object",
        "properties": {
          "category": { "type": "string", "description": "Routing category used (general, reasoning, etc.)." },
          "upstream_model": { "type": "string", "example": "atlasflux/nenas-flash", "description": "Internal model used (not exposed to users)." },
          "reasoning": { "type": "string" }
        }
      },
      "Citation": {
        "type": "object",
        "properties": {
          "index": { "type": "integer" },
          "title": { "type": "string" },
          "url": { "type": "string" },
          "published_at": { "type": "string", "nullable": true },
          "accessed_at": { "type": "string" }
        }
      },
      "ModelList": {
        "type": "object",
        "properties": {
          "object": { "type": "string", "example": "list" },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ModelObject" }
          }
        }
      },
      "ModelObject": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "atlasflux/nenas-flash" },
          "object": { "type": "string", "example": "model" },
          "owned_by": { "type": "string", "example": "atlasflux" },
          "context_window": { "type": "integer", "example": 1000000 },
          "max_output_tokens": { "type": "integer", "example": 32000 },
          "capabilities": {
            "type": "array",
            "items": { "type": "string" },
            "example": ["text", "vision", "reasoning", "web_search", "streaming", "tools", "structured_output"]
          }
        }
      },
      "ApiKeyObject": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "prefix": { "type": "string", "description": "First 14 characters of the key." },
          "environment": { "type": "string", "enum": ["live", "test"] },
          "status": { "type": "string", "enum": ["active", "revoked", "expired"] },
          "created_at": { "type": "string", "format": "date-time" },
          "last_used_at": { "type": "string", "nullable": true, "format": "date-time" },
          "monthly_spend_limit_micro_myr": { "type": "integer", "nullable": true },
          "expires_at": { "type": "string", "nullable": true, "format": "date-time" }
        }
      },
      "CreateApiKeyBody": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": { "type": "string", "minLength": 1, "maxLength": 100 },
          "environment": { "type": "string", "enum": ["live", "test"], "default": "test" },
          "monthly_spend_limit_myr": { "type": "number" },
          "expires_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreateApiKeyResponse": {
        "type": "object",
        "properties": {
          "key": { "$ref": "#/components/schemas/ApiKeyObject" },
          "full_key": { "type": "string", "description": "The complete API key. Shown only once." },
          "warning": { "type": "string" }
        }
      },
      "OverviewResponse": {
        "type": "object",
        "properties": {
          "wallet": {
            "type": "object",
            "nullable": true,
            "properties": {
              "availableMicroMyr": { "type": "integer" },
              "reservedMicroMyr": { "type": "integer" },
              "lifetimeTopupMicroMyr": { "type": "integer" },
              "lifetimeSpendMicroMyr": { "type": "integer" }
            }
          },
          "today_usage": { "$ref": "#/components/schemas/UsageStats" },
          "total_usage": { "$ref": "#/components/schemas/UsageStats" },
          "daily_series": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/UsagePoint" }
          },
          "api_key_count": { "type": "integer" },
          "active_api_key_count": { "type": "integer" }
        }
      },
      "UsageStats": {
        "type": "object",
        "properties": {
          "requests": { "type": "integer" },
          "inputTokens": { "type": "integer" },
          "outputTokens": { "type": "integer" },
          "reasoningTokens": { "type": "integer" },
          "searchCount": { "type": "integer" },
          "contentPages": { "type": "integer" },
          "costMicroMyr": { "type": "integer" }
        }
      },
      "UsagePoint": {
        "type": "object",
        "properties": {
          "bucket": { "type": "string", "format": "date-time" },
          "requests": { "type": "integer" },
          "costMicroMyr": { "type": "integer" },
          "inputTokens": { "type": "integer" },
          "outputTokens": { "type": "integer" },
          "reasoningTokens": { "type": "integer" }
        }
      },
      "UsageResponse": {
        "type": "object",
        "properties": {
          "from": { "type": "string" },
          "to": { "type": "string" },
          "granularity": { "type": "string" },
          "series": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/UsagePoint" }
          }
        }
      },
      "BalanceResponse": {
        "type": "object",
        "properties": {
          "wallet": {
            "type": "object",
            "nullable": true,
            "properties": {
              "availableMicroMyr": { "type": "integer" },
              "reservedMicroMyr": { "type": "integer" },
              "lifetimeTopupMicroMyr": { "type": "integer" },
              "lifetimeSpendMicroMyr": { "type": "integer" }
            }
          },
          "balance_myr": { "type": "number" },
          "reserved_myr": { "type": "number" },
          "lifetime_topup_myr": { "type": "number" },
          "lifetime_spend_myr": { "type": "number" },
          "topup_options_sen": { "type": "array", "items": { "type": "integer" } }
        }
      },
      "TransactionsResponse": {
        "type": "object",
        "properties": {
          "ledger": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/LedgerEntry" }
          },
          "page": { "type": "integer" },
          "limit": { "type": "integer" }
        }
      },
      "LedgerEntry": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "type": { "type": "string" },
          "amountMicroMyr": { "type": "integer" },
          "balanceAfterMicroMyr": { "type": "integer" },
          "description": { "type": "string", "nullable": true },
          "createdAt": { "type": "string" }
        }
      },
      "LogsResponse": {
        "type": "object",
        "properties": {
          "logs": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/LogEntry" }
          },
          "total": { "type": "integer" },
          "has_more": { "type": "boolean" }
        }
      },
      "LogEntry": {
        "type": "object",
        "properties": {
          "requestId": { "type": "string" },
          "publicModel": { "type": "string" },
          "endpoint": { "type": "string" },
          "status": { "type": "string" },
          "inputTokens": { "type": "integer" },
          "outputTokens": { "type": "integer" },
          "reasoningTokens": { "type": "integer" },
          "cachedTokens": { "type": "integer" },
          "searchCount": { "type": "integer" },
          "costMicroMyr": { "type": "integer" },
          "latencyMs": { "type": "integer", "nullable": true },
          "createdAt": { "type": "string" }
        }
      },
      "CheckoutBody": {
        "type": "object",
        "required": ["amount_sen"],
        "properties": {
          "amount_sen": {
            "type": "integer",
            "description": "Top-up amount in sen (RM1 = 100 sen).",
            "enum": [1000, 2500, 5000, 10000, 25000, 50000]
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": { "type": "string" },
              "type": { "type": "string" },
              "code": { "type": "string" },
              "param": { "type": "string", "nullable": true },
              "request_id": { "type": "string" }
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request body or parameters.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "Unauthorized": {
        "description": "Missing or invalid API key.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "InsufficientBalance": {
        "description": "Insufficient wallet balance.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "RateLimited": {
        "description": "Rate limit exceeded.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "NotFound": {
        "description": "Resource not found.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "InternalError": {
        "description": "Internal server error.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "ProviderUnavailable": {
        "description": "Upstream provider unavailable.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      }
    }
  }
}
